extends layout

block cssHead
    link(rel='stylesheet/less', href='/biz/css/screen.less')

block content
    div.container(ng-app='ngappContact')
        div.row
            div.col-lg-4
                h1 Contact management
            div.col-lg-8
                div(class='panel panel-default' style='min-width:500px;box-shadow:4px 4px 10px #888888;')
                    div(class="panel-heading")
                        button
                            span(class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#createContactModalDialog")
                        span &nbsp;&nbsp;&nbsp;
                        button
                            span(class="glyphicon glyphicon-pencil")
                    div(class="panel-body" ng-controller='ctrlrContactShow')
                        div(style='float: left;width:100%')
                            table(class='table')
                                thead
                                    tr
                                        th A
                                tbody(ng-repeat="conact in contactBlocks.a")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th B
                                tbody(ng-repeat="conact in contactBlocks.b")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th C
                                tbody(ng-repeat="conact in contactBlocks.c")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th D
                                tbody(ng-repeat="conact in contactBlocks.d")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th E
                                tbody(ng-repeat="conact in contactBlocks.e")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th F
                                tbody(ng-repeat="conact in contactBlocks.f")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th G
                                tbody(ng-repeat="conact in contactBlocks.g")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th H
                                tbody(ng-repeat="conact in contactBlocks.h")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th I
                                tbody(ng-repeat="conact in contactBlocks.i")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th J
                                tbody(ng-repeat="conact in contactBlocks.j")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th K
                                tbody(ng-repeat="conact in contactBlocks.k")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th L
                                tbody(ng-repeat="conact in contactBlocks.l")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th M
                                tbody(ng-repeat="conact in contactBlocks.m")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th N
                                tbody(ng-repeat="conact in contactBlocks.n")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th O
                                tbody(ng-repeat="conact in contactBlocks.o")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th P
                                tbody(ng-repeat="conact in contactBlocks.p")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th Q
                                tbody(ng-repeat="conact in contactBlocks.q")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th R
                                tbody(ng-repeat="conact in contactBlocks.r")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th S
                                tbody(ng-repeat="conact in contactBlocks.s")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th T
                                tbody(ng-repeat="conact in contactBlocks.t")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th U
                                tbody(ng-repeat="conact in contactBlocks.u")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th V
                                tbody(ng-repeat="conact in contactBlocks.v")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th W
                                tbody(ng-repeat="conact in contactBlocks.w")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th X
                                tbody(ng-repeat="conact in contactBlocks.x")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th Y
                                tbody(ng-repeat="conact in contactBlocks.y")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th Z
                                tbody(ng-repeat="conact in contactBlocks.z")
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div {{conact.name}}
                                                div {{conact.mobilePhone}}
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')

block modalDialog
    div.modal.fade#createContactModalDialog(tabindex='-1' role='dialog' ng-controller='ctrlrContactCreate')
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type='button' data-dismiss='modal')
                        span x
                    h4.modal-title#createContactModalDialogTitle Create contact
                div.modal-body
                    div.form-horizontal(role='form')
                        div.form-group
                            label.col-sm-3.control-label Name
                            div.col-sm-9
                                input.form-control(type='text' placeholder='Name' required)

                        div.form-group
                            label.col-sm-3.control-label NameFirstWordChr
                            div.col-sm-9
                                input.form-control(type='text' placeholder='NameFirstWordChr' required )

                        div.form-group
                            label.col-sm-3.control-label NameAllWordChr
                            div.col-sm-9
                                input.form-control(type='text' placeholder='NameAllWordChr' required )

                        div.form-group
                            label.col-sm-3.control-label Corp
                            div.col-sm-9
                                input.form-control(type='text' placeholder='Corp')

                        div.form-group
                            label.col-sm-3.control-label Mobile Phone
                            div.col-sm-9
                                input.form-control(type='text' placeholder='Mobile Phone' required )

                        div.form-group
                            label.col-sm-3.control-label Mail
                            div.col-sm-9
                                input.form-control(type='text' placeholder='Mail')

                div.modal-footer
                    button.btn.btn-default(type='button' data-dismiss='modal') Close
                    button.btn.btn-primary(type='button') Save


block jsFoot
    script(src='/biz/js/ngappContact.js')