extends layout

block cssHead
    link(rel='stylesheet/less', href='/stylesheets/screen.less')

block content
    div(class='container')
        div(class='row')
            div(class='col-lg-4')
                h1 Contact management
            div(class='col-lg-8')
                div(class='panel panel-default' style='min-width:500px;box-shadow:4px 4px 10px #888888;')
                    div(class="panel-heading")
                        button
                            span(class="glyphicon glyphicon-plus")
                        span &nbsp;&nbsp;&nbsp;
                        button
                            span(class="glyphicon glyphicon-pencil")
                    div(class="panel-body")
                        div(style='float: left;width:100%')
                            table(class='table')
                                thead
                                    tr
                                        th A
                                tbody
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div 啊连
                                                div 13812312338
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div 阿尔法
                                                div 13812312338
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div 阿土
                                                div 13812312338
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                            table(class='table')
                                thead
                                    tr
                                        th B
                                tbody
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div 博士
                                                div 13812312338
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div 八公
                                                div 13812312338
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                                    tr
                                        td(style='overflow:hidden')
                                            div(style='float:left')
                                                div 佰伍音
                                                div 13812312338
                                            div(style='float:right')
                                                div
                                                    button(type='button' class='btn btn-info glyphicon glyphicon-list')
                                                    span &nbsp;&nbsp;&nbsp;
                                                    button(type='button' class='btn btn-danger glyphicon glyphicon-pencil')
                        div(style='float:right;')
