doctype html
html
  head
    title dcontact
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    block cssHead
    script(src='/javascripts/less.min.js')
    block jsHead
  body(style='background-color: #FFFFFFF')
    block content
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/angular.min.js')
    block jsFoot

